In [1]:
# define the function "say_hello" so it prints "Hello" when called

In [2]:
def say_hello():
    print("Hello!")
    

# Call the function.
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Call the function.
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [25]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [24]:
passing_math_count = 29370
total_student_count = 39170

In [8]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [20]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [22]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    NaN
1    NaN
2    NaN
3    NaN
dtype: object

In [23]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [26]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [27]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

NameError: name 'district_summary_df' is not defined